.flexForm {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
@media (max-width: 767px) {
  .flexForm {
    flex-wrap: wrap;
    flex-direction: column;
    grid-gap: 10px;
  }
}
.flexForm__input {
  flex-basis: 5;
  flex-grow: 5;
  margin: 0px 10px;
  padding: 8px;
  border: 1px solid #ddd;
}

.flexForm__button {
  background-color: teal;
  color: white;
  flex-basis: 1;
  flex-grow: 1;
  padding: 5px;
}
@media (max-width: 767px) {
  .flexForm__button {
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .flexForm__input {
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 0;
    margin: 0px;
  }
}
.flexForm__button:hover {
  cursor: pointer;
}
