.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 200px;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  padding: 11px;
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
.grid__header {
  padding: 10px;
  align-self: center;
  margin: 0;
}
.grid__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .grid__buttons {
    grid-template-columns: 1fr;
  }
}
