.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list__item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-gap: 10px;
}
.list__item--hidden {
  display: none;
}
.list__itemElement {
  align-self: center;
}
.list__taskContent--crossed {
  text-decoration: line-through;
}
.list__button {
  width: 30px;
  height: 30px;
  justify-self: center;
  border: none;
  transition: background-color 1s;
}
.list__button:hover {
  cursor: pointer;
}
.list__button:active {
  border: 2px solid black;
}
.list__button--green {
  background-color: green;
  color: white;
}
.list__button--green:hover {
  background-color: hsl(120, 100%, 35%);
}
.list__buttonRemove {
  background-color: hsl(0, 100%, 45%);
  color: white;
}
.list__buttonRemove:hover {
  background-color: hsl(0, 100%, 60%);
}
