.section {
  background-color: white;
  margin: 19px 40px;
  padding: 10px;
}
.section__header {
  padding: 12px;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  font-size: 22px;
  margin-top: 0;
}

