.section {
  background-color: white;
  margin: 19px 40px;
  padding: 10px;
}
.section__header {
  padding: 12px;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  font-size: 22px;
  margin-top: 0;
}
.section__button {
  color: teal;
  border: none;
  background-color: white;
  transition: 1s;
}
.section__button:hover {
  cursor: pointer;
  color: hsl(180, 100%, 32%);
}
.section__header--withoutBorder {
  border: none;
}
.section__checkAllTasksDoneButton:disabled {
  color: grey;
}
