.section {
  background-color: white;
  margin: 19px 40px;
  padding: 10px;
}
.section__header {
  padding: 12px;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  font-size: 22px;
  margin-top: 0;
}
.section__list {
  list-style-type: none;
  margin: 50px auto;
}
.section__listItem {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-gap: 10px;
}
.section__listItemElement {
  align-self: center;
}
.section__taskContent--crossed {
  text-decoration: line-through;
}
.section__button {
  width: 30px;
  height: 30px;
  border: 2px solid teal;
  justify-self: center;
}
.section__button:hover {
  cursor: pointer;
}
.section__button:active {
  border: 2px solid black;
}
.section__buttonGreen {
  background-image: url("https://i.postimg.cc/7br2VSqR/buttondone1.png");
  background-size: contain;
  background-position: center;
}
.section__buttonCheckmark {
  background-image: url("https://i.postimg.cc/tgw7yBmm/buttondone2.png");
  background-size: contain;
  background-position: center;
}
.section__buttonRemove {
  background-image: url("https://i.postimg.cc/pXwq4Cqq/basket.png");
  background-size: contain;
  background-position: center;
}
